@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Montserrat", sans-serif;
  background-color: #223343;
  min-height: 100vh;
}

header {
  padding: 50px 15px 0;
}

header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.spinner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-cover {
  background-color: #fff;
  width: 100%;
  height: 400px;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;
  color: #fff;
}

.popup .content h2 {
  font-size: 28px;
  font-weight: 600;
}

.popup .content h2 span {
  font-weight: 300;
  font-size: 20px;
}

.popup .content .rating {
  margin-bottom: 30px;
}

.popup .content .plot {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px 30px;
}

.popup .content .plot {
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0 15px;
}

.popup .content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}
